# Đọc dữ liệu

In [1]:
import pandas as pd
import numpy as np
df=pd.read_csv('FoodPrice_in_Turkey.csv', header=0, encoding='ISO-8859-1' )
display(df)

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

# Đổi tên thuộc tính

In [2]:
df.rename(columns={'Place': 'Địa Điểm', 'ProductName':'Tên SP'}, inplace=True)
display(df)

,Địa Điểm,ProductId,Tên SP,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

# Thêm cột mới trong DATAFRAME

In [3]:
# Thêm cột mới với tất cả giá trị rỗng:
df['New_column']='NaN'
df.head()

,Địa Điểm,ProductId,Tên SP,UmId,UmName,Month,Year,Price,New_column
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920,NaN
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786,NaN
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865,NaN
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337,NaN
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099,NaN

In [4]:
# Thêm cột giảm giá 10% cho tất cả các bản ghi
df.insert(9, 'Giảm giá (%)', '10%' )
display(df)

,Địa Điểm,ProductId,Tên SP,UmId,UmName,Month,Year,Price,New_column,Giảm giá (%)
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920,NaN,10%
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786,NaN,10%
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865,NaN,10%
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337,NaN,10%
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099,NaN,10%
...,...,...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040,NaN,10%
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176,NaN,10%
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347,NaN,10%
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985,NaN,10%
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071,NaN,10%

In [5]:
# Thêm cột giảm giá 12% cho tất cả các bản ghi
df.insert(10, 'Giảm giá 2 (%)', '12%' )
display(df)

,Địa Điểm,ProductId,Tên SP,UmId,UmName,Month,Year,Price,New_column,Giảm giá (%),Giảm giá 2 (%)
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920,NaN,10%,12%
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786,NaN,10%,12%
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865,NaN,10%,12%
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337,NaN,10%,12%
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099,NaN,10%,12%
...,...,...,...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040,NaN,10%,12%
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176,NaN,10%,12%
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347,NaN,10%,12%
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985,NaN,10%,12%
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071,NaN,10%,12%

# Thêm một dòng mới vào trong DataFrame

In [6]:
df.loc[df.shape[0]]=['NA','RR','Rice',10,'KG',6, 2021, 84.3785, np.NaN, '10%','12%']
display(df)

,Địa Điểm,ProductId,Tên SP,UmId,UmName,Month,Year,Price,New_column,Giảm giá (%),Giảm giá 2 (%)
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920,NaN,10%,12%
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786,NaN,10%,12%
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865,NaN,10%,12%
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337,NaN,10%,12%
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099,NaN,10%,12%
...,...,...,...,...,...,...,...,...,...,...,...
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176,NaN,10%,12%
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347,NaN,10%,12%
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985,NaN,10%,12%
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071,NaN,10%,12%
7381,NA,RR,Rice,10,KG,6,2021,84.3785,NaN,10%,12%

# Xóa một cột trong dataframe

In [7]:
del df['New_column']
display(df)

,Địa Điểm,ProductId,Tên SP,UmId,UmName,Month,Year,Price,Giảm giá (%),Giảm giá 2 (%)
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920,10%,12%
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786,10%,12%
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865,10%,12%
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337,10%,12%
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099,10%,12%
...,...,...,...,...,...,...,...,...,...,...
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176,10%,12%
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347,10%,12%
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985,10%,12%
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071,10%,12%
7381,NA,RR,Rice,10,KG,6,2021,84.3785,10%,12%

In [8]:
# # Xóa một cột sử dụng phương thức pop()
# Phương thức pop trả về cột đã xóa
df1=df
print('df1 sau khi tạo')
display(df1)
df2=df1.pop('Giảm giá 2 (%)')
print('df1 sau khi xóa')
display(df1)
print('df2')
display(df2)

df1 sau khi tạo

,Địa Điểm,ProductId,Tên SP,UmId,UmName,Month,Year,Price,Giảm giá (%),Giảm giá 2 (%)
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920,10%,12%
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786,10%,12%
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865,10%,12%
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337,10%,12%
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099,10%,12%
...,...,...,...,...,...,...,...,...,...,...
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176,10%,12%
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347,10%,12%
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985,10%,12%
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071,10%,12%
7381,NA,RR,Rice,10,KG,6,2021,84.3785,10%,12%

df1 sau khi xóa

,Địa Điểm,ProductId,Tên SP,UmId,UmName,Month,Year,Price,Giảm giá (%)
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920,10%
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786,10%
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865,10%
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337,10%
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099,10%
...,...,...,...,...,...,...,...,...,...
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176,10%
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347,10%
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985,10%
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071,10%
7381,NA,RR,Rice,10,KG,6,2021,84.3785,10%

df2

0       12%
1       12%
2       12%
3       12%
4       12%
       ...
7377    12%
7378    12%
7379    12%
7380    12%
7381    12%
Name: Giảm giá 2 (%), Length: 7382, dtype: object

In [9]:
# Xóa một cột sử dụng phương thức drop() 
df.drop('Giảm giá (%)', axis=1, inplace=True)
display(df)

,Địa Điểm,ProductId,Tên SP,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071
7381,NA,RR,Rice,10,KG,6,2021,84.3785

In [10]:
# Xóa nhiều cột sử dụng phương thức drop()
df.drop(['Month','Year'], axis=1, inplace=True)
display(df)

,Địa Điểm,ProductId,Tên SP,UmId,UmName,Price
0,National Average,52,Rice - Retail,5,KG,4.4920
1,National Average,52,Rice - Retail,5,KG,4.5786
2,National Average,52,Rice - Retail,5,KG,4.7865
3,National Average,52,Rice - Retail,5,KG,5.1337
4,National Average,52,Rice - Retail,5,KG,5.5099
...,...,...,...,...,...,...
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,51.6071
7381,NA,RR,Rice,10,KG,84.3785

#  Xóa các dòng trong DataFrame

In [11]:
df.drop(1, axis = 0, inplace=True)
df

,Địa Điểm,ProductId,Tên SP,UmId,UmName,Price
0,National Average,52,Rice - Retail,5,KG,4.4920
2,National Average,52,Rice - Retail,5,KG,4.7865
3,National Average,52,Rice - Retail,5,KG,5.1337
4,National Average,52,Rice - Retail,5,KG,5.5099
5,National Average,52,Rice - Retail,5,KG,5.8146
...,...,...,...,...,...,...
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,51.6071
7381,NA,RR,Rice,10,KG,84.3785

In [12]:
df.drop([7377,7379], axis=0, inplace=True)
df

,Địa Điểm,ProductId,Tên SP,UmId,UmName,Price
0,National Average,52,Rice - Retail,5,KG,4.4920
2,National Average,52,Rice - Retail,5,KG,4.7865
3,National Average,52,Rice - Retail,5,KG,5.1337
4,National Average,52,Rice - Retail,5,KG,5.5099
5,National Average,52,Rice - Retail,5,KG,5.8146
...,...,...,...,...,...,...
7375,Izmir,502,Cocoa (powder) - Retail,5,KG,47.4010
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,47.9040
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,50.8347
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,51.6071
7381,NA,RR,Rice,10,KG,84.3785